@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Rubik+Mono+One&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* 

Styles:
Body font: Figtree, 14px
H1, H3: Prompt

Red link color: #B82B26

Charts (black background): Font is .8em
 */

.container {
    width: 45%;
}

header img,
.chart img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #11151C;
    color: #FEFEFE;
    text-align: center
}

div {
    padding: 15px 15px 15px 15px
}

body {
    font-family: "Figtree";
    text-align: start;
    font-size: 14px;
}

h1 {
    font-family: "Prompt";
    font-weight: 200;
}

h2,
p {
    font-size: .8em;
}

h3 {
    font-family: "Prompt";
    font-size: 14px;
    padding: 30px 0px 30px 0px;
}

.logo {
    font-weight: 550;
    letter-spacing: .1rem;
}